@font-face {
    font-family: Glacial;
    src: url("font/glacial-indifference/GlacialIndifference-Regular.otf") format("opentype");
}

@font-face {
    font-family: Glacial-Italic;
    src: url("font/glacial-indifference/GlacialIndifference-Italic.otf") format("opentype");
}

@font-face {
    font-family: Glacial-Bold;
    src: url("font/glacial-indifference/GlacialIndifference-Bold.otf") format("opentype");
}

body {
    margin: 0%;
}

.light-title {
    display: flex;
    font-family: Glacial;
    letter-spacing: 0.4vw;
    font-weight: 100;
    color: #fffef9;
    border-bottom: solid 0.7vh #fffef9;
    font-size: 4vw;
    width: max-content;
    justify-content: center;
    margin: 4.5% 0 -1% 0;
    padding: 0 0 2% 0;
    /* border: red 2px solid; */
}

.dark-title {
    display: flex;
    font-family: Glacial;
    letter-spacing: 0.4vw;
    font-weight: 100;
    color: #827251;
    border-bottom: solid 0.7vh #827251;
    font-size: 4vw;
    width: max-content;
    justify-content: center;
    margin: 4.5% 0 -1% 0;
    padding: 0 0 2% 0;
    /* z-index: 1; */
    /* border: red 2px solid; */
}

/* ===NUESTROS SERVICIOS====================================================================================== */

.nuestros-servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #827251;
    /* min-height: 100vh; */
    /* max-width: 100%; */
    /* padding: 2%; */
    /* overflow-x: hidden; */
    /* border: blue 2px solid; */
}

.light-flower {
    margin: 0% 0% 12% -74%;
    width: 15%;
    /* border: firebrick 2px solid; */
    /* z-index: 1; */
    /* padding: 2%; */
    /* width: 11%; */
}

.light-flower-flipped {
    margin: 0% -78% -31% 0%;
    width: 15%;
    /* border: forestgreen 2px solid; */
    /* z-index: 1; */
    transform: rotate(180deg);
}

.card-container {
    /* padding: 2%; */
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin: 0% 0 8% 0;
    /* justify-content: center;
    align-items: center; */
    /* border: red 2px solid; */
}

.card {
    /* padding: 2%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    font-family: Glacial;
    color: #fffef9;
    /* border: yellow 2px solid; */
}

.card-img {
    display: flex;
    width: 85%;
    /* height: 70%; */
}

.card-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* align-items: none; */
    /* justify-content: center; */
    width: 105%;
    /* border: green 2px solid; */
}

.card-title {
    font-family: Glacial-Bold;
    font-size: 1.5vw;
    /* border: pink 2px solid; */
    margin: 5% 0 4%;
}

.card-description {
    font-size: 1.2vw;
    width: 100%;
    /* border: red 2px solid; */
    margin: 0 auto 0;
}


/* ====TESTIMONIOS==================================================================================== */

.testimonios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fffef9;
    /* min-height: 100%; */
    width: 100%;
    /* padding: 2%; */
    /* overflow-x: hidden; */
}


.dark-flower {
    margin: 0% 0% -26.5% -80%;
    /* border: firebrick 2px solid; */
    /* z-index: 1; */
    transform: rotate(-10deg);
    padding: 2%;
    width: 11%;
}

.video-card-container {
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin: 0 0 7% 0;

    /* border: blue solid 2px; */
}

.video-card {
    /* padding: 0 3%; */
    margin: 0 3%;
    text-align: center;
    font-family: Glacial;
    color: #827251;
    width: 33%;
    /* border: rgb(0, 255, 76) solid 2px; */
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 59%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 103%;
    border: none;
}



.video-card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;


}

/* =================================================================== */

.container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 75%;
    /* 4:3 Aspect Ratio */
}




/* ======CONTACTO====================================================================================== */




.contacto {
    display: flex;
    background-color: #827251;
    /* justify-content: space-between; */
    height: 100vh;

    /* border: blue 3px solid; */
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    /* padding: 5% 0 5% 0; */
    /* border: red 3px solid; */

}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    /* border: green 3px solid; */
    width: 60%;
    /* height: 100%; */
    /* padding: 8%; */
}


input[type=text],
input[type=email] {
    display: block;
    border: none;
    border-bottom: 2px solid #fffef9;
    background-color: transparent;
    margin: 4% 0 4% 0;
    color: #fffef9;
}

label {
    color: #fffef9;
    font-family: Glacial-Bold;
    font-size: 1.16vw;
}

.send-button {
    font-family: Glacial;
    font-size: 2vw;
    background-color: rgba(255, 254, 250, 0.3);
    color: #fffef9;
    align-self: center;
    border: none;
    text-shadow: 2px 3px 20px #000;
    margin-top: 15%;
}

.send-button:hover {
    opacity: 0.5;
}

.form-img {
    /* grid-area: contact-img;
    width: 100%;
    height: 100%; */
    width: 60%;
}


/* ======FORM CONTROLS============================================================== */

.form-control input:focus {
    border-bottom: 4px solid #b8b6af;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}



.back-button {
    background-color: #827251;
    /* width: max-content; */
    /* height: 4%; */
    /* text-align: center; */
    /* margin: auto; */
    padding: 8px;
    text-decoration: none;
    border: none;
    position: fixed;
    bottom: 3%;
    right: 3%;
    text-shadow: 2px 3px 20px #000;
    /* background-color: rgba(255, 254, 250, 0.3); */
    color: #fffef9;
    z-index: 1000;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    /* line-height: 50px; */
    opacity: 0.8;
  }
 
  .back-button:hover {
    cursor: pointer;
    opacity: 0.5;
  }
 



/* TABLET |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/* CELULAR |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

@media only screen and (max-width: 768px) {

    .light-title {
        font-size: 7vw;
        margin: 12% 0 -7% 0;
    }

    .dark-title {
        font-size: 7vw;
        /* font-weight: 500; */
        margin: 12% 0 -11% 0;
    }



    .card-title {
        font-size: 3.2vw;
    }

    .light-flower {
        /* margin: 0% 0% o% -70%; */
        width: 15%;
        /* border: firebrick 2px solid; */
        z-index: -1;
        /* padding: 2%; */
        /* width: 11%; */
    }

    .light-flower-flipped {
        z-index: -1;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5%;
    }

    .card {
        width: 79%;
    }

    .card-description {
        font-size: 2.8vw;
        width: 100%;
        /* border: 2px red solid; */
    }

    .card-img {
        margin: 17% 0 0 0;
        /* width: 85%; */
        /* height: 70%; */
    }

    /* TESTIMONIOS========================================= */


    .dark-flower {
        z-index: -1;
    }

    .video-card-container {
        flex-direction: column;
        align-items: center;
        width: 68.5%;
        margin: 0 0 13% 0;
        /* padding-bottom: 5%; */
        /* border: blue solid 2px; */
    }

    .video-card {
        /* padding: 0 3%; */
        margin: 0 3%;
        text-align: center;
        font-family: Glacial;
        color: #827251;
        width: 83%;
        /* border: rgb(0, 255, 76) solid 2px; */
    }


    .iframe-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 60%;
        margin: 15% 0 0 0;
        /* border: rgb(0, 255, 76) solid 2px; */
    }

    .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 103%;
        border: none;
    }

    .contact-content {
        justify-content: space-around;
        width: 100%;
        /* padding: 5% 0 5% 0; */
        /* border: red 3px solid; */

    }



    .contacto {
        /* border: blue 3px solid; */
        background-image: url('img/flor-clara-rotada.png');
        background-size: 30%;
        background-repeat: no-repeat;
        background-position: 77% 50%;
        /* height: 90vh; */
    }

    form {
        margin-top: 5%;
        /* width: 90%;
        height: 90%; */
        /* max-height: inherit;
        flex-direction: column;
        justify-content: space-evenly;
        align-self: center;
        padding: 2%; */
        border: blue 2 px solid;
    }

    label {
        font-size: 3vw;
        color: #fffef9;
    }

    input[type=text] {
        margin: 7%;
        width: 70%;
    }

    .send-button {
        font-size: 4vh;
        /* margin: 2%; */
        margin-top: 8%;
    }


    .form-img {
        display: none;
    }

}