@font-face {
    font-family: Glacial;
    src: url("font/glacial-indifference/GlacialIndifference-Regular.otf") format("opentype");
}

@font-face {
    font-family: Glacial-Italic;
    src: url("font/glacial-indifference/GlacialIndifference-Italic.otf") format("opentype");
}

@font-face {
    font-family: Glacial-Bold;
    src: url("font/glacial-indifference/GlacialIndifference-Bold.otf") format("opentype");
}

body {
    margin: 0%;
}

.light-title {
    font-family: Glacial;
    color: #fffef9;
    border-bottom: solid 7px #fffef9;
    font-size: 4vw;
    width: max-content;
    justify-self: center;
    align-self: center;
}

.dark-title {
    font-family: Glacial;
    color: #827251;
    border-bottom: solid 7px #827251;
    font-size: 4vw;
    width: max-content;
    
}

/* ===NUESTROS SERVICIOS====================================================================================== */

.nuestros-servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #827251;
    min-height: 100vh;
    width: 100%;
    padding: 2%;
}

.card-container {
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: Glacial;
    color: #fffef9;
}

.card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 80%;

}

.card-img {
    display: flex;
    width: 70%;
    height: 70%;
}


/* ====TESTIMONIOS==================================================================================== */

.testimonios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fffef9;
    min-height: 100%;
    width: 100%;
    padding: 2%;
}

.video-card-container {
    display: flex;
    justify-content: space-around;
}

.video-card {
    padding: 2%;
    text-align: center;
    font-family: Glacial;
    color: #827251;
    width: 100%;
}

iframe {
    width: 100% !important;
    height: auto !important;
}

.video-card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}


/* ======CONTACTO====================================================================================== */

.contacto {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    grid-template-areas:
        'contact-content contact-img';
    background-color: #827251;
    height: 100%;
    width: 100%;
}

.contact-content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 75%;
    grid-template-areas:
        'title'
        'form';
    padding: 5%;
}

form {
    grid-area: form;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}


input[type=text] {
    border: none;
    border-bottom: 4px solid #fffef9;
    background-color: transparent;
    margin: 2%;
}

label {
    color: #fffef9;
    font-family: Glacial;
    font-size: 1.5vw;
}

.send-button {
    font-family: Glacial;
    font-size: 2vw;
    background-color: rgba(255, 254, 250, 0.3);
    color: #fffef9;
    cursor: pointer;
    border: none;
    text-shadow: 2px 3px 20px #000;
    width: auto;
    height: auto;
    justify-self: center;
    align-self: center;
}

.send-button:hover {
    opacity: 0.5;
}

.form-img {
    grid-area: contact-img;
    width: 100%;
    height: 100%;
}

/* ======FORM CONTROLS============================================================== */

.form-control input:focus {    
    border-bottom: 4px solid #b8b6af;
  }
  
  .form-control.success input {
    border-color: #2ecc71;
  }
  
  .form-control.error input {
    border-color: #e74c3c;
  }
  
  .form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
  }
  
.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
  }
  
  .form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
  }
  
  .form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }
  
  .form-control.error small {
    visibility: visible;
  }

  

/* TABLET |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

@media only screen and (max-width: 1024px) {

    .video-card-container {
        display: flex;
        flex-direction: column;
    }

    
    .contact-content {
        grid-area: contact-content  ;
        grid-template-columns: 100%;
        grid-template-rows: 25% 75%;
        grid-template-areas:
            'title'
            'form';
    }
    
    form {
        grid-area: form;
        width: 90%;
        height: 90%;
        max-height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-self: center;
        padding: 2%;
    }
    
    input[type=text] {
        margin: 2%;
    }
    
    label {
        font-size: 3vw;
        color: #fffef9;
    }

    .send-button {
        font-size: 4vh;
        margin: 2%;
    }

    
}


/* CELULAR |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

    @media only screen and (max-width: 768px) {


        .card-container {
            display: flex;
            flex-direction: column;
            }
               
    /* ==============CONTACTO================================================================ */
        .contacto {
            grid-template-areas:
                'contact-content';
            background-image: url(img/contacto.jpg);
            opacity: 0.5;
            grid-template-columns: 100%;
            grid-template-rows: 100%;
            grid-template-areas:
                'contact-content';
        }
    
        .contact-content {
            grid-area: contact-content  ;
            grid-template-columns: 100%;
            grid-template-rows: 25% 75%;
            grid-template-areas:
                'title'
                'form';
        }
    
        form {
            grid-area: form;
            width: 90%;
            height: 90%;
            max-height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            padding: 2%;
        }
    
        input[type=text] {
            margin: 2%;
        }
    
        label {
            font-size: 5vw;
            color: #fffef9;
        }
    
        .send-button {
            font-size: 4vh;
            margin: 2%;
        }
    
        .form-img {
            display: none;
        }
    }