@font-face {
    font-family: Glacial;
    src: url("font/glacial-indifference/GlacialIndifference-Regular.otf") format("opentype");
}

@font-face {
    font-family: Glacial-Italic;
    src: url("font/glacial-indifference/GlacialIndifference-Italic.otf") format("opentype");
}

@font-face {
    font-family: Glacial-Bold;
    src: url("font/glacial-indifference/GlacialIndifference-Bold.otf") format("opentype");
}


body {
    background-color: black;
    display: block;
    margin: 0;
    padding: 0;
    /* bottom: 0; */
    /* width: 100%; */
    /* height: 100%; */
    /* overflow: hidden; */
    background-image: url(img/home.jpg);
    background-repeat: no-repeat;
    background-size: 99%;
}

.macro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 100%;
    height: auto; */
    border: pink solid 5px;

}




.main-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    /* justify-content: space-around; */
    /* overflow: hidden; */
    border: green solid 3px;
}

/* .logo {
    display: flex;
    justify-content: center;
    width: 50%;   
    border: 3px solid white;
} */

.logo-img {
    width: 90%;
    margin: 30% 0% 42% 25%;
    /* justify-content: center; */
    /* align-items: center;  */   
    background-image: url(img/triangle.svg);
    background-repeat: no-repeat;
    /* border: 3px solid blue; */
}


.buttons-container {

    display: flex;
    justify-content: space-between;
    margin: 0 0 12% 25%;
    border: red 2px solid;
    width: 130%;
}

.home-button {
    width: 45%;
    padding: 0% 0% 0 0; 
    font-family: Glacial;
    font-size: 4vw;
    background-color: rgb(130, 114, 81, 0.7);
    border: none;

   

    border: blue 2px solid;
}

.ind-button {  
     
    text-decoration: none;
    color: #fffef9;
    text-shadow: 2px 3px 20px #000;
    

}


.home-button:hover {
    opacity: 0.5;
}

/* .text-container {
    display: flex;
    width: 30%;
    border: yellow solid 4px;
} */

/* .triangulo-grande {
    display: flex;
    position: absolute;
    text-align: right;
    width: 70%;
    margin: 0 0% 0% 30%;
 
    background-image: url(img/triangle2.svg);
    background-repeat: no-repeat;
    border: red solid 3px;
} */

.triangulo-grande {
    width: 67%;
    /* position: absolute; */
    /* margin: 0% 0% 0% 0%; */
    border: red solid 3px;
}

/* .div-triangle {
    width: 100vw;
    height: 100vh;
    background-color: yellow;
    opacity: 0.2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
} */

.div-triangle2 {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 219, 153);
    opacity: 0.3;
    clip-path: polygon(100% 0, 0% 100vh, 100vw 100vh);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center;  */

    

}

.main-description-text {
    font-family: Glacial;
    font-size: 1.9vw;
    text-align: right;
    width: 55%;
    text-shadow: 2px 3px 20px #000;

    margin: -35% 0 0% 40%;
    padding: 0%;
    
    color: #fffef9;
    border: 4px solid blue;
    
}


span {
    font-family: Glacial-Bold;
}

@media only screen and (max-width: 1024px) {


    .macro {
        flex-direction: column;
        justify-content: space-between;
        /* border: black 3px solid; */
        height: 100vh;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        overflow: hidden;
        /* border: green solid 3px; */
    }
    
   /*  .logo {
      
        
    } */
  
    .logo-img {
        width: 45%;
        justify-content: center;
        align-items: center; 
        margin-top: 6%;   
    }
    
    
    .buttons-container {
        /* border: red 2px solid; */
        margin-top: 10%;
    }
     

   
    .home-button {
        margin-top: 3%;
        font-size: 7vw;
    }

    .text-container {
        /* justify-content: right; */
        /* align-items: flex-end; */
        /* z-index: 1; */
        height: 37%;    
        background-image: url(img/triangle3.svg);  
        /* border: chartreuse solid 4px; */
        align-items: flex-end;
    }
    
    .main-description-text {
        width: 60%;
        font-size: 2.8vw;
       /* border: 4px solid blue; */
    }
}

@media only screen and (max-width: 767px) {

    .logo-img {
        width: 45%;
        margin-top: 8%;   
    }

    .home-button {
        font-size: 9vw;
    }


    .text-container {
       
        height: 59%;    
        background-image: url(img/triangle2.svg);  
        /* border: chartreuse solid 4px; */
        
    }
  

    .main-description-text {
        width: 76%;
        font-size: 3.8vw;
       /* border: 4px solid blue; */
    }

}

