@font-face {
    font-family: Glacial;
    src: url("font/glacial-indifference/GlacialIndifference-Regular.otf") format("opentype");
}

@font-face {
    font-family: Glacial-Italic;
    src: url("font/glacial-indifference/GlacialIndifference-Italic.otf") format("opentype");
}

@font-face {
    font-family: Glacial-Bold;
    src: url("font/glacial-indifference/GlacialIndifference-Bold.otf") format("opentype");
}

body {
    box-sizing: border-box;
    background-image: url(img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}

strong {
    font-family: Glacial-Bold;
}
.macro {
    position: relative;
    margin: 0%;
    height: 100vh;
    /* border: red solid 2px; */
}

.logo-y-botones-cnt {
    width: 52%;
    
}
.logo-img {
    width: 100%; 
    margin: 25% 0% 0% 25%;  
    background-image: url(img/triangle.svg);
    background-repeat: no-repeat;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    margin: 28% 0 0% 25%;
    width: 50%;
}

.home-button {
    width: 100%;
    padding: 4% 0; 
    font-family: Glacial;
    font-size: 7vw;
    background-color: rgb(130, 114, 81, 0.7);
    border: none;
    margin: 20% 0 0 0;
}

.button-link {  
    text-decoration: none;
    color: #fffef9;
    text-shadow: 2px 3px 20px #000; 
}

.home-button:hover {
    opacity: 0.5;
}

.triangulo-grande-cnt {
    position: absolute;
    z-index: -1;
    width: 100%;
    margin: 0;
    top: 0%;
    right: 0%;
    bottom: 0%;
    background-image: url(img/triangle3.svg);
    /* background-color: rgba(167, 141, 91, 0.3);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%); */
    background-repeat: no-repeat;
    background-size: cover;
}

.main-description-text{
    font-family: Glacial;
    font-size: 3.8vw;
    text-shadow: 2px 3px 20px #000; 
    color: #fffef9;
    width: 76%;

    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    margin: 0 3.5% 7.5% 0;
}

@media only screen and (min-width: 350px) {  
    .logo-y-botones-cnt {
        width: 45%;       
    }
    .buttons-container {
        margin: 30% 0 0% 25%;
        width: 60%;
    }
}

@media only screen and (min-width: 400px) {  
    .logo-y-botones-cnt {
        width: 40%;       
    }
    .buttons-container {
        margin: 26% 0 0% 25%;
        width: 65%;
    }
    .home-button {
        font-size: 6.5vw;
    }
}

@media only screen and (min-width: 440px) {  
    .logo-y-botones-cnt {
        width: 37%;       
    }
    .buttons-container {
        margin: 24% 0 0% 25%;
        width: 65%;
    }
    .home-button {
        font-size: 6vw;
    }
}

@media only screen and (min-width: 483px) {  
    .logo-y-botones-cnt {
        width: 35%;       
    }
    .buttons-container {
        margin: 30% 0 0% 25%;
        width: 63%;
    }
    .home-button {
        font-size: 160%;
    }
    .triangulo-grande-cnt {
        width: 92%;
        margin: 5% 0 0 0;
    }
    .main-description-text{
        font-size: 3.5vw;
        width: 76%;
        margin: 0 3.5% 7.5% 0;
    }
}

@media only screen and (min-width: 542px) {  
    .logo-y-botones-cnt {
        width: 23%;       
    }
    .buttons-container {
        margin: 20% 0 0% 25%;
        width: 63%;
    }
    .home-button {
        font-size: 123%;
        width: 105%;
    }
    .triangulo-grande-cnt {
        width: 100%;
        background-image: none;
        background-color: rgba(130, 114, 81, 0.4);
        clip-path: polygon(100% 0%, 25% 100%, 100% 100%);
    }
    .main-description-text{
        font-size: 85%;
        width: 47%;
        margin: 0 3.5% 3% 0;
    }
}

@media only screen and (min-width: 661px) {  
    /* .logo-y-botones-cnt {
        width: 23%;      
    } */
    .buttons-container {
        margin: 20% 0 0% 25%;

    }
    .home-button {
        width: 105%;
    }
    .triangulo-grande-cnt {
        margin: 0% 0 0 0;
        clip-path: polygon(100% 11%, 35% 100%, 100% 100%);
    }
    .main-description-text{
        font-size: 87%;
        width: 36.5%;
    }
}

@media only screen and (min-width: 760px) {  
    .logo-y-botones-cnt {
        width: 40%;       
    }
    .home-button {
        font-size: 270%;
    }
    .triangulo-grande-cnt {
        width:100%;
        clip-path: polygon(100% 30%, 15% 100%, 100% 100%);
    }
    .main-description-text{
        font-size: 170%;
        width: 70%;
        margin: 0 3.5% 3.5% 0;
    }
}

@media only screen and (min-width: 1024px) {  
    .logo-y-botones-cnt {
        width: 30%;       
    }
    .buttons-container {
        /* flex-direction: row; */
        margin: 10% 0 0% 25%;
        width: 100%;
    }
    .home-button {
        font-size: 300%;
        margin: 10% 0 0 0;
        width: 60%;
        padding: 2% 2%;
    }
    .triangulo-grande-cnt {
        clip-path: polygon(100% 10%, 10% 100%, 100% 100%);
    }
    .main-description-text{
        font-size: 200%;
        width: 65%;
        margin: 0 3.5% 3% 0;
    }
}

@media only screen and (min-width: 1280px) {  
    .logo-y-botones-cnt {
        width: 25%;       
    }
    .buttons-container {
        flex-direction: row;
        margin: 40% 0 0% 25%;
        width: 140%;
    }
    .home-button {
        font-size: 300%;
        margin: 0 10% 0 0;
        width: 60%;
        padding: 1% 2%;
    }
    .triangulo-grande-cnt {
        clip-path: polygon(100% 10%, 35% 100%, 100% 100%);
    }
    .main-description-text{
        font-size: 172%;
        width: 40%;
        /* margin: 0 3.5% 3% 0; */
    }
}